.product-card {
  padding: 15px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.product-card h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #000;/*828282*/
}

.product-card h4 {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #828282;
  white-space: normal; /* Allows wrapping */
  word-wrap: break-word; /* Break long words if needed */
  overflow-wrap: break-word; /* Modern equivalent */
}

.product-card p {
  font-size: 1.2rem;
  color: #000;
}


.image-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Button inside image */
.image-wrapper .add-to-cart-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e79fbf;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  opacity: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.image-wrapper:hover .add-to-cart-btn {
  opacity: 1;
}

.image-wrapper .add-to-cart-btn:hover {
  background-color: #d98cad;
}

/* Wishlist heart button */
.wishlist-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.wishlist-btn:hover {
  transform: scale(1.4);
}