/* Global styles for the shop page */
.shop-page {
  padding: 2rem;
}

/* Shop header styles */
.shop-header {
  background-color: #f2b3bf;
  width: 100%;
  height: 45vh;
  margin-top: -3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.shop-title {
  font-size: 5rem;
  color: white;
}

.shop-suptitle {
  font-size: 3rem;
  color: white;
  font-weight: lighter;
  margin-top: -2rem;
}

/* Product grid styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjusts automatically */
  gap: 2rem;
  padding: 0 2rem; /* Adds padding around the grid */
}

.popup-notification {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #333;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  z-index: 1000;
  opacity: 0.9;
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}